<footer class="footer">
  <div class="container footer__container">
    <p class="footer__text">
      &copy 2022 | All Rights Reserved |<br class="footer__enter" />
      Developed with
      <span>
        <svg class="footer__img">
          <use href="./images/footer-svg/heart.svg#heart"></use>
        </svg>
      </span>
      by
      <span>
        <a class="footer__text-link"> GoIT Students </a>
      </span>
    </p>
  </div>
  <div class="footer-backdrop is-hidden" data-modal>
    <div class="footer-modal">
      <div class="footer-modal__close" data-modal-close></div>
      <h2 class="footer-modal__team">Our team members</h2>
      <ul class="footer-modal__list">
        <li class="footer-modal__element">
          <img
            class="footer-modal__img"
            src="./images/footer-modal/yevhen-team-lead.jpeg"
            alt="team member"
            width="180"
          />
          <a
            class="footer-modal__social-link"
            href="https://github.com/Jberestian"
            ><h3 class="footer-modal__member-name">Yevhen Berestian</h3>
            <p class="footer-modal__member-role">Team-Lead</p></a
          >
        </li>
        <li class="footer-modal__element">
          <img
            class="footer-modal__img"
            src="./images/footer-modal/vladyslav-scrum.jpeg"
            alt="team member"
            width="180"
          />
          <a
            class="footer-modal__social-link"
            href="https://github.com/VladyslavHarshyn"
            ><h3 class="footer-modal__member-name">Harshyn Vladyslav</h3>
            <p class="footer-modal__member-role">Scrum Master</p></a
          >
        </li>
        <li class="footer-modal__element">
          <img
            class="footer-modal__img"
            src="./images/footer-modal/fyodor-dev.jpg"
            alt="team member"
            width="180"
          />
          <a
            class="footer-modal__social-link"
            href="https://github.com/cyanidium1"
            ><h3 class="footer-modal__member-name">Fyodor Alpatov</h3>
            <p class="footer-modal__member-role">Developer</p></a
          >
        </li>
        <li class="footer-modal__element">
          <img
            class="footer-modal__img"
            src="./images/footer-modal/serhii-dev.jpeg"
            alt="team member"
            width="180"
          />
          <a
            class="footer-modal__social-link"
            href="https://github.com/Sergio0888"
          >
            <h3 class="footer-modal__member-name">Serhii Maznoy</h3>
            <p class="footer-modal__member-role">Developer</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
