<footer class="footer">
  <div class="container footer__container">
    <p class="footer__text">
      &copy 2022 | All Rights Reserved |<br class="footer__enter" />
      Developed with
      <span>
        <svg class="footer__img">
          <use href="./images/footer-svg/heart.svg#heart"></use>
        </svg>
      </span>
      by
      <span>
        <a class="footer__text-link" data-modal-open> GoIT Students </a>
      </span>
    </p>
  </div>
  <!-- <div class="backdrop is-hidden" data-modal>
    <div class="modal">
      <div class="modal__close" data-modal-close>
        <h3></h3>
      </div>
    </div>
  </div> -->
</footer>
