<header class="header">
    <div>
        <div class="header__navbar">
            <div class="header__logo">
                <svg class="header__logo-svg">
                    <use href="../src/images/header/header.svg#icon-movie-icon"></use>
                </svg>
                <p class="header__logo-text">Filmoteka</p>
            </div>
            <ul class="header__menu">
                <li class="header__menu-item is-active">Home</li>
                <li class="header__menu-item">My library</li>
            </ul>
        </div>
        <input type="text" class="header__input" placeholder="Поиск фильмов">
        <p class="header__input-error" style="visibility: hidden">Search result not successful. Enter the correct movie name and try again.</p>
    </div>
</header>