<section class="library">
   <div class="container">
       <ul class="library__list">
           <li class="library__item">
               <img src="#" alt="" width="309px" height="489px" class="libraly__img">
                <div class="library__box">
                    <h2 class="library__title">GREYHOUND</h2>
                    <p class="library__text"> Drama, Action | 2020 <span class="library__grade">10.0</span></p>  
                </div>
           </li>
           <li class="library__item">
               <img src="#" alt="" width="309px" height="489px" class="libraly__img">
                <div class="library__box">
                    <h2 class="library__title">MONSTER HUNTER</h2>
                    <p class="library__text">Drama, Action | 2020 <span class="library__grade">8.0</span></p>  
                </div>
            </li>
           <li class="library__item">
               <img src="#" alt="" width="309px" height="489px" class="libraly__img">
                <div class="library__box">
                    <h2 class="library__title">ONCE UPON A TIME... IN HOLLYWOOD</h2>
                    <p class="library__text">Drama, Comedy | 2019 <span class="library__grade">8.0</span></p>
                   
                </div>
            </li>
           <li class="library__item">
               <img src="#" alt="" width="309px" height="489px" class="libraly__img">
                <div class="library__box">
                    <h2 class="library__title">LITTLE WOMEN</h2>
                    <p class="library__text">Drama | 2019 <span class="library__grade">5.9</span></p>
                   
                </div>
            </li>
           <li class="library__item">
               <img src="#" alt="" width="309px" height="489px" class="libraly__img">
                <div class="library__box">
                    <h2 class="library__title">AQUARELA</h2>
                    <p class="library__text">Documentary, Drama, Other | 2019 <span class="library__grade">6.5</span></p>
                    
                </div>  
            </li>
           <li class="library__item">
               <img src="#" alt="" width="309px" height="489px" class="libraly__img">
                <div class="library__box">
                    <h2 class="library__title">DAVID CROSBY: REMEMBER MY NAME</h2>
                    <p class="library__text">Documentary, Drama, Other | 2019 <span class="library__grade">5.9</span></p>
                    
                </div>
            </li>
           <li class="library__item">
               <img src="#" alt="" width="309px" height="489px" class="libraly__img">
                <div class="library__box">
                    <h2 class="library__title">MOON</h2>
                    <p class="library__text">Sci-Fi, Action, Thriller | 2010 <span class="library__grade">5.9</span></p>
                
                </div>
            </li>
           <li class="library__item">
               <img src="#" alt="" width="309px" height="489px" class="libraly__img">
                <div class="library__box">
                    <h2 class="library__title">A FISTFUL OF LEAD</h2>
                    <p class="library__text">Western | 2019 <span class="library__grade">7.3</span></p>
                    
                </div>
            </li>
           <li class="library__item">
               <img src="#" alt="" width="309px" height="489px" class="libraly__img">
               <div class="library__box">
                    <h2 class="library__title">BAD BOYS FOR LIFE</h2>
                    <p class="library__text">Action, Comedy | 2020 <span class="library__grade">7.3</span></p>
                    
                </div>
            </li>
       </ul>
   </div>
</section>