
 <div class="container modal-box">
<div class="backdrop">
<div class="container modal-box">
    <svg class="modal-close-icon">
        <use href="./images/modal-close.svg#close"></use>
    </svg>


    <div class="modal">
        <div class="modal-image"></div>

        <div class="modal-descr">
            <h2 class="modal-descr__title">A FISTFUL OF LEAD</h2>
            <ul class="modal-descr__list">

                <li class="modal-descr__item">
                    <p class="modal-descr__item-text">Vote / Votes</p>
                    <p class="modal-descr__item-value">
                        <span class="value-color vote">7.3</span> /
                        <span class="value-color votes">1260</span>
                    </p>
                </li>

                </li>  
 
                <li class="modal-descr__item">
                    <p class="modal-descr__item-text">Popularity</p> 
                    <p class="modal-descr__item-value">100.2</p>
                </li>

                <li class="modal-descr__item">
                    <p class="modal-descr__item-text">Original Title</p>
                    <p class="modal-descr__item-value">A FISTFUL OF LEAD</p>
                </li>

                </li> 
 
                
                <li class="modal-descr__item">
                    <p class="modal-descr__item-text">Genre</p>
                    <p class="modal-descr__item-value">Western </p>
                </li>

            </ul>

            <p class="modal-about__title">About</p>
            <p class="modal-about-text">Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the most corrupt settlement of the gold rush towns. But not all goes to plan one is killed and the other three escapes with bags of gold hide out in the abandoned gold mine where they happen across another gang of three – who themselves were planning to hit the very same bank! As tensions rise, things go from bad to worse as they realise the bags of gold are filled with lead... they’ve been double crossed – but by who and how?</p>
        
            <div class="modal-btn-box">
            <button class="btn" type="button">add to Watched</button>
            <button class="btn btn-modal" type="button">add to queue</button>
            <button class="btn js-add-watched" type="button">add to Watched</button>
            <button class="btn btn-modal js-add-queue" type="button">add to queue</button>
            </div>
        
        </div>

    </div>


</div> 
</div>
</div>
