.film {
  &__section {
  }
}
.film {
  &__container {
  }

  &__list {
  }

  &__item {
    margin-bottom: 20px;
  }

  &__img {
    margin-bottom: 8px;
  }

  &__name {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: $main-black-color;
    margin-bottom: 5px;
  }

  &__genre,
  &__year {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: $home-orange-color;
  }

  &__date-release {
    padding-left: 3px;
  }
<<<<<<< Updated upstream
=======
  &__rating {
    color: #fff;
    background-color: #FF6B01;
    padding: 3px 6px;
    border-radius: 6px;
    margin-left: 9px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .film {
    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    &__list-lib {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    &__item {
      width: calc(45% - 10px);
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: 1024px) {
  .film {
    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    &__list-lib {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    &__item {
      width: calc(33% - 10px);
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
>>>>>>> Stashed changes
}
