.fifm {
  // .fifm__section

  &__section {
  }
}
.film {
  // .film__img

  &__img {
    margin-bottom: 8px;
  }

  // .film__name

  &__name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: $main-black-color;
    margin-bottom: 5px;
  }

  // .film__genre

  &__genre,
  &__year {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: $home-orange-color;
  }

  // .film__year

  &__year {
    padding-left: 3px;
  }
}
