.header {
    padding: 40px 20px;
    color: #ffffff;
    font-weight: 500;
    font-size: 12px;
    min-height: 214px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media screen and (max-width: 767px) {
        background-image:
            linear-gradient(to bottom, rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.568)),
            url(../images/header/header-bg-mobile.jpg);
    }

    @media screen and (min-width: 768px) and (max-width: 1024px) {
        padding: 40px 32px;
        background-image:
            linear-gradient(to bottom, rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.568)), url(../images/header/header-bg-tablet.jpg);
        
    }

    @media screen and (min-width: 1025px) {
        background-image:
            linear-gradient(to bottom, rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.568)), url(../images/header/header-bg-pc.jpg);
    }

    &__navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-transform: uppercase;
    }

    &__logo {
        display: flex;
        align-items: center;

        &-svg {
            width: 24px;
            height: 24px;
            margin-right: 8px;
        }

        &-text {
            font-size: 30px;
            display: none;
            text-transform: none;

            @media screen and (min-width: 768px) {
                display: block;
            }
        }
        
    }

    &__menu {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 180px; // ?
    }

    &__input {
        color: #fff;
        width: 100%;
        max-width: 340px;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        align-content: center;
        background-color: transparent;
        outline: none;
        border: none;
        border-bottom: 0.5px solid #fff;
        padding: 4px 0;
        &::placeholder {
            color:#ffffff;
            font-weight: 400;
            font-size: 14px;
        }
        // ____________PUT IT INSIDE____________
        // &::after {
        //     content: url(../images/header/header.svg#icon-find-icon);
        //     position: absolute;
        //     bottom: -10px;
        //     left: 0px;
        //     width: 20px;
        //     height: 20px;
        //     fill:#fff;
        // }
        &-search {
            position: relative;
        }

        &-search::after {
            content: '';
            position: absolute;
            right: 10px;
            top: 5px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: 1px solid #ffffff;
            background-color: #FF001B;
        }

        &-error {
            color: #FF001B;
            width: 100%;
            font-size: 14px;
            font-weight: 400;
            margin-top: 16px;
            text-align: center;
        }
    }
}
.is-active {
    position: relative;

    &::after {
    content: ''; 
    position: absolute;
    left: 0px;
    background: #FF6B08;
    bottom: -2px; 
    width: 100%; 
    height: 3px; 
}}

// for library

.lib {
    min-height: 214px;
    box-sizing: border-box;
    @media screen and (max-width: 767px) {
        background-image:
            linear-gradient(to bottom, rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.568)),
            url(../images/header/header-bg-mobile-lib.jpg);
    }

    @media screen and (min-width: 768px) and (max-width: 1024px) {
        padding: 40px 32px;
        background-image:
            linear-gradient(to bottom, rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.568)), url(../images/header/header-bg-pc-lib.jpg);
        
    }

    @media screen and (min-width: 1025px) {
        background-image:
            linear-gradient(to bottom, rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.568)), url(../images/header/header-bg-pc-lib.jpg);
    }}

.header {
    &__buttons {
        margin-top: 60px;
        
        display: flex;
        justify-content: center;

    }
}

.btn-lib {
    width: 130px;
    height: 44px;
    box-sizing: border-box;
    margin-left: 16px;

    @media screen and (min-width: 768px) and (max-width: 1024px) {
        width: 152px;
        margin-left: 32px;
    }

    @media screen and (max-width: 767px) {
        width: 100px;
        margin-left: 16px;
        margin-bottom: 16px;
        box-sizing: border-box;
    }
}

.active {
    background-color: transparent;
    border: 1px solid #fff;
}